<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="CXP-Main-single-feed" value="https://pkgs.dev.azure.com/dynamicscrm/CXPlatform/_packaging/CXP-Main-single-feed/nuget/v2/" />
    <add key="CRMUnified" value="https://pkgs.dev.azure.com/dynamicscrm/_packaging/CRMUnified/nuget/v3/index.json" />
  </packageSources>

 <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="CXP-Main-single-feed">
      <package pattern="*" />
    </packageSource>
    <packageSource key="CRMUnified">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
   </packageRestore>
</configuration>
