<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="CXP-Main-single-feed" value="https://pkgs.dev.azure.com/dynamicscrm/CXPlatform/_packaging/CXP-Main-single-feed/nuget/v2/" />
    <add key="CRM.CCaaS.IVR.GRammarImportTool" value="https://pkgs.dev.azure.com/dynamicscrm/OneCRM/_packaging/CRM.CCaaS.IVR.GRammarImportTool/nuget/v3/index.json" />
  </packageSources>
</configuration>
