<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="CXP-Main-single-feed" value="https://pkgs.dev.azure.com/dynamicscrm/CXPlatform/_packaging/CXP-Main-single-feed/nuget/v2/" />
  </packageSources>
</configuration>
