<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <ASPNETCORE_ENVIRONMENT>Test</ASPNETCORE_ENVIRONMENT>
    </EnvironmentVariables>
  <DisableParallelization>true</DisableParallelization>
  </RunConfiguration>
  <MSTest>
    <OrderTestsByNameInClass>true</OrderTestsByNameInClass>
  </MSTest>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                   <ModulePath>.*Stubs.*</ModulePath>
                   <ModulePath>.*Tests.L1.*</ModulePath>
              </Exclude>
            </ModulePaths>
            <Sources>
              <Exclude>
                <Source>.*\\obj\\Debug\\net8.0.*</Source>
                <Source>.*\\obj\\Release\\net8.0.*</Source>
              </Exclude>
            </Sources>
            <Functions>
              <Exclude>
              <Function>.*PlaceHolder.*</Function>
              </Exclude>
            </Functions>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
