<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <ASPNETCORE_ENVIRONMENT>Test</ASPNETCORE_ENVIRONMENT>
    </EnvironmentVariables>
  <DisableParallelization>true</DisableParallelization>
  </RunConfiguration>
  <MSTest>
    <OrderTestsByNameInClass>true</OrderTestsByNameInClass>
  </MSTest>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*ApiService.*</ModulePath>
                <ModulePath>.*Tests.L0.*</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Stubs.*</ModulePath>
                <ModulePath>.*Tests.L1.*</ModulePath>
                <ModulePath>.*Moq.*</ModulePath>
              </Exclude>
            </ModulePaths>
            <Sources>
              <Exclude>
                <Source>.*\\obj\\Debug\\net8.0.*</Source>
                <Source>.*\\obj\\Release\\net8.0.*</Source>
                <Source>.*\\Docs\\.*</Source>
              </Exclude>
            </Sources>
            <Functions>
              <Exclude>
                <Function>.*PlaceHolder.*</Function>
              </Exclude>
            </Functions>
          </CodeCoverage>

          <Format>cobertura</Format>
          <CoverageFileName>GrITCoverage.cobertura.xml</CoverageFileName>

          <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
          <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
          <CollectFromChildProcesses>True</CollectFromChildProcesses>
          <CollectAspDotNet>False</CollectAspDotNet>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
